<div class="navBar">
    <ul>
    <% for (var i=0; i < navItemArray.length; i++) { %>

        <li><a href= <%= navItemArray[i].url %>><%= navItemArray[i].title %></a></li>

    <% } %>
    </ul>
</div>