<nav>

    <ul>
        <div class="siteTitle">
            Kald's Wishlist
        </div>
    <% for (var i=0; i < navItemArray.length; i++) { %>

        <li><a href= <%= navItemArray[i].url %>><%= navItemArray[i].title %></a></li>

    <% } %>
    </ul>
</nav>