<!-- Table module for EJS MVC-->
<!-- © Karl-Erik Kald -->
<table>

    <table>

        <tr>
        <% for (var i = 0; i < tableTitleArray.length; i++) { %>
            <th> <%= tableTitleArray[i].title %> </th>
        <% } %>
        </tr>
        <% for (var tRow = 0; tRow < tableContentArray.length; tRow++) { %>
            <tr>
                <% for (var cell = 0; cell < tableContentArray[tRow].itemArray.length; cell++) { %>
                    <td><%= tableContentArray[tRow].itemArray[cell] %></td> 
                <% } %>
            </tr>
        <% } %>
    
    </table>


</table>